@use '../global' as global;

.l-footer {
    padding-top: 75px;
    padding-bottom: 32px;

        @include global.mq(sp) {
            padding-top: 27px;
            padding-bottom: 16px;
        }

    &__content {
    }

    &__snsArea {

    }

    &__text {
        margin-top: 93px;

            @include global.mq(sp) {
                margin-top: 20px;
            }
    }

    &__copyArea {
        margin-top: 15px;
    }
}