@use '../global' as global;

.l-voice {
    margin-bottom: 80px;

        @include global.mq(sp) {
            margin-bottom: 32px; 
        }

    &__saleArea {
        padding-top: 50px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

            @include global.mq(sp) {
                padding-top: 39px;
                padding-bottom: 20px;
            }
    }

    &__sale {
    }

    &__sale-main{

    }
}