@use '../global' as global;

.p-about {
    padding-top: 96px;

    &__title {
    }

    &__sub-title {
    }

    &__content {

    }

    &__bg,
    &__bg2 {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }

    &__bg {
        background: linear-gradient(#F2F4F1 79.9%, transparent 79.9%);
    }

    &__bg2 {
        background: linear-gradient(#F2F4F1 81.6%, transparent 81.6%);
    }

    &__head {
        position: relative;

        &__span {
            position: absolute;
            top: -30px;
            left: 37px;
            font-family: global.$ff-en;
            font-size: 48px;
            font-weight: 700;
            line-height: 61px;
        }

        & > img {

        }
    }

    &__body,
    &__body2 {
        display: flex;
        justify-content: space-between;
    }

    &__body2 {
        flex-direction: row-reverse;
    }

    &__heading-title,
    &__heading-title2 {
        background-color: global.$accent-color2;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
    }

    &__heading-title {
        padding: 5px 0;
    }

    &__heading-title2 {
        padding: 5px 10px;
    }

    &__text-boxArea,
    &__text-boxArea2 {
        max-width: 670px;
        width: 100%;
        background-color: #fff;
    }

    &__text-boxArea {
        padding: 72px 129px 82px 68px;
    }

    &__text-boxArea2 {
        padding: 58px 72px 62px 127px;
    }

    &__text-box {
        margin-top: 62px;

        &__title {
            font-family: global.$ff-en;
            font-size: 20px;
            font-weight: 400;
            line-height: 25.64px;
            letter-spacing: 0.08em;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 100%;
                height: 1px;
                background-color: global.$text-color;
            }
        }

        &__title1 {
            &::before {
                width: 69%;
            }
        }

        &__title2 {
            &::before {
                width: 51%;
            }
        }

        &__text {
            margin-top: 14px;
            font-size: 16px;
            font-weight: 400;
            line-height: 23.17px;
            letter-spacing: 0.08em;
        }
    }

    &__imgArea {
        width: 54.16%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        max-width: 674px;
    }

    &__img,
    &__img2 {
        width: calc(674px - 30px);
        height: 100%;
        max-height: 404px;

        &:nth-child(1) {
            width: 100%;
            max-width: 331px;
        }

        &:nth-child(2) {
            width: 100%;
            max-width: 313px;
        }
    }

    &__img {
        &:nth-child(1) {
            margin-left: -80px;
        }
    }

    &__img2 {
        margin-top: 58px;

        &:nth-child(2) {
            margin-right: -80px;
            position: relative;
        }
    }

    &__footer {
        margin-top: 50px;

        &__main-title {
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 28.96px;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 240px;
                height: 1px;
                background-color: global.$text-color;
            }

            &::before {
                left: 133px;
            }

            &::after {
                right: 133px;
            }
        }

        &__sub {
            margin-top: 15px;
            text-align: center;
            font-family: global.$ff-en;
            font-weight: 400;
            font-size: 20px;
            line-height: 25.64px;
            color: #B1B6AF;
        }

        &__card {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            gap: 50px;
        }

        &__item {
            max-width: 300px;
            height: 100%;
        }

        &__head {
            object-fit: cover;
        }

        &__body {
            padding: 23px 18px;
            background: #F2F4F1;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
            border-radius: 0px 0px 8px 8px;
            min-height: 150px;
        }

        &__title {
            font-size: 20px;
            font-weight: 700;
            line-height: 28.96px;
        }

        &__text {
            margin-top: 8px;
            line-height: 23.17px;
        }
    }

}