@use '../global' as global;

.p-features {
    background: url(../img/bg-3.jpg) no-repeat center center/cover;

    &__title {
    }

    &__sub-title{
    }

    &__list {
    }

    &__item {
        display: flex;
        justify-content: center;
        gap: 85px;
        background: #fff;
        padding: 42px 98px 33px 103px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 64px;

            @include global.mq(sp) {
                flex-direction: column;
                border-radius: 32px;
                padding: 30px;
                gap: 0;
            }

        & + & {
            margin-top: 33px;

                @include global.mq(sp) {
                    margin-top: 24px;
                }
        }

        &__img {
            width: calc( 50% - (85px / 2));

                @include global.mq(sp) {
                    width: 100%;
                }

            & > img {
                @include global.mq(sp) {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &__textArea {
            width: calc( 50% - (85px / 2));

                @include global.mq(sp) {
                    width: 100%;
                }
        }

        &__head {
            margin-bottom: 10px;
        }

        &__point {
            font-family: global.$ff-en;
            font-weight: 400;
            font-size: 20px;
            line-height: 25.64px;
            color: #fff;
            background-color: global.$accent-color2;
            display: inline-block;
            padding: 5px 23px;

                @include global.mq(sp) {
                    font-size: 18px;
                    line-height: 1;
                    padding: 5px 13px;
                }
        }

        &__title {
            margin-top: 12px;
            font-weight: 700;
            font-size: 20px;
            line-height: 28.96px;

                @include global.mq(sp) {
                    margin-top: 5px;
                }
        }

        &__title-span {
            font-weight: 700;
            font-size: 24px;
            line-height: 34.75px;
            color: global.$accent-color2;
        }

        &__text {
            margin-top: 12px;
            font-weight: 400;
            line-height: 23.17px;
            letter-spacing: 0.08em;

                @include global.mq(sp) {
                    font-size: 14px;
                }
        }
    }

    &__item--reverse {
        flex-direction: row-reverse;
    }
}