@use '../global' as global;

.p-footer {
    background-color: #565956;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

            @include global.mq(sp) {
                margin-top: -32px; /* 2列目のmargin-topを効かせるため */
            }

        &__inner {
            width: calc(100% / 4);

                @include global.mq(sp) {
                    margin-top: 32px;
                }

            &:nth-of-type(odd) {
                @include global.mq(sp) {
                    width: calc(60% - 25px);
                }
            }
            &:nth-of-type(even) {
                @include global.mq(sp) {
                    width: 40%;
                }
            }
        }

        &__title {
            font-family: global.$ff-en;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: #fff;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom : 0;
                left: 0;
                margin-top: 7px;
                width: 72.03px;
                height: 1px;
                background-color: rgba(255,255,255,.4);
            }
        }
    }

    &__list {
        margin-top: 30px;
    }

    &__item {


        &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #fff;
            display: block;
            transition: opacity .2s;

            &:hover {
                opacity: .8;
            }
        }
    }

    &__snsArea {
        display: flex;
        gap: 27px;

            @include global.mq(sp) {
                margin-top: 32px;
            }
    }

    &__sns {
        color: #FFFFFF;
        font-size: 1.6em;
        transition: opacity .2s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__text {
        font-weight: 700;
        font-size: 11px;
        line-height: 22px;
        color: #fff;
    }

    &__copyArea {
        & > small {
            font-weight: 500;
            font-size: 11px;
            line-height: 22px;
            color: #fff;
        }
    }
}