@use '../global' as global;

.p-pop1 {
    background-color: #F2F4F1;
    padding-top: 47px;
    padding-bottom: 49px;
    position: relative;

        @include global.mq(sp) {
            padding: 32px 42px;
        }

    &__bg-left {
        position: absolute;
        top: 0;
        left: calc(50% - 385px);
        height: 100%;

            @include global.mq(sp) {
                left: 0;
            }

        &::before {
            content: "";
            background: url(../img/bg-text2.png)no-repeat center center/contain;
            width: 60px;
            height: 400px;
            top: 50px;
            left: -100px;
            position: absolute;

                @include global.mq(sp) {
                    background: none;
                }

        }

        &::after {
            content: "";
            background: url(../img/bg-text4.png)no-repeat center center/contain;
            width: 60px;
            height: 370px;
            top: 64px;
            left: -210px;
            position: absolute;

                @include global.mq(sp) {
                    display: none;
                }
        }
    }

    &__bg-right {
        position: absolute;
        top: 10px;
        right: calc(50% - 385px);
        height: 100%;

            @include global.mq(sp) {
                right: 0;
                top: 0;
            }

        &::before {
            content: "";
            background: url(../img/bg-text1.png)no-repeat center center/contain;
            width: 60px;
            height: 400px;
            top: 50px;
            right: -100px;
            position: absolute;

            @include global.mq(sp) {
                    background: none;
                }
        }

        &::after {
            content: "";
            background: url(../img/bg-text3.png)no-repeat center center/contain;
            width: 60px;
            height: 370px;
            top: 64px;
            right: -210px;
            position: absolute;

                @include global.mq(sp) {
                    display: none;
                }
        }
    }

    &__contentArea {
        background-color: #fff;
        padding: 50px 90px 42px;
        max-width: 770px;

            @include global.mq(sp) {
                padding: 36px 35px 34px 33px;
            }
    }

    &__textArea {
        text-align: center;
        position: relative;

        &__span {
            position: absolute;
            top: 10px;
            left: -20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            padding: 3px 4px;
            color: #fff;
            transform: rotate(-26.35deg);
            background-color: #565956;
            display: inline-block;

                @include global.mq(sp) {
                    top: -18px;
                    left: calc(50% - 215px);
                }


        }
    }

    &__text {
        font-family: global.$ff-en;
        font-weight: 700;
        font-size: 28px;
        line-height: 48px;
        letter-spacing: 0.04em;
        color: #565956;

            @include global.mq(sp) {
                font-size: 20px;
                line-height: 28.96px;
            }

        &02 {
            @include global.mq(sp) {
                display: inline-block;
                margin-top: 10px;
            }
        }
    }

    &__text-span {
        font-size: 60px;

            @include global.mq(sp) {
                font-size: 48px;
            }
    }

    &__lists {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    &__item {

        &:nth-of-type(2) {
            @include global.mq(sp) {
                order: 3;
            }

            & > p {
                @include global.mq(sp) {
                    padding: 10px 43px;
                }
            }
        }
        &:nth-of-type(3) {
            @include global.mq(sp) {
                order: 2;
            }
        }

        &__text {
            font-weight: 700;
            font-size: 18px;
            line-height: 38px;
            color: #fff;
            padding: 3px 16px;
            background-color: #565956;
            border-radius: 16px;

                @include global.mq(sp) {
                    font-size: 14px;
                    line-height: 20px;
                }
        }
    }

    &__btnArea {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 37px;

            @include global.mq(sp) {
                gap: 23px;
            }
    }

    &__btn1 {
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        color: #565956;
        background-color: #F2F4F1;
        padding: 16px 41px;
        position: relative;

            @include global.mq(sp) {
                font-size: 16px;
                line-height: 23.17px;
                padding: 8px 37px;
            }

        // スラッシュの設定
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 1px;
            height: 16px;
            background-color: #565956;
        }

        &::before {
            left: calc(40px - 8.8px);
            transform: translateY(-50%) rotate(-20deg);

                @include global.mq(sp) {
                    left: calc(40px - 12px);
                }
        }

        &::after {
            right: calc(40px - 8.8px);
            transform: translateY(-50%) rotate(20deg);

            @include global.mq(sp) {
                right: calc(40px - 12px);
            }
        }

        // 三角の設定
        &__span {
            position: absolute;
            top: 50%;
            right: -17px;
            border-style: solid;
            border-width: 9px 0 9px 29px;
            border-color: transparent transparent transparent #F2F4F1;
            transform: translateY(-50%);

                @include global.mq(sp) {
                    top: 100%;
                    right: 50%;
                    transform: translateX(50%);
                    border-style: solid;
                    border-width: 16px 5px 0 5px;
                    border-color: #F2F4F1 transparent transparent transparent;
                }
        }
    }

    &__btn2 {
        display: inline-block;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        background: linear-gradient(86.83deg, #669988 2.32%, #668899 96.4%);
        border-radius: 16px;
        padding: 29px 60px 28px 36px;
        position: relative;

            @include global.mq(sp) {
                font-size: 18px;
                line-height: 26.08px;
                padding: 15px 50px 15px 30px;
            }

        //  arrowの設定1
        &::before {
            content: "";
            top: 50%;
            right: 30px;
            position: absolute;
            width: 10px;
            height: 16px;
            transform: translateY(-50%);
            background: url(../img/arrow1.svg) no-repeat center center/contain;

                @include global.mq(sp) {
                    right: 22px;
                    height: 15px;
                }
        }

        // arrowの設定2
        &::after {
            content: "";
            top: 50%;
            right: 30px;
            position: absolute;
            width: 18px;
            height: 2px;
            background: url(../img/arrow2.svg)no-repeat center center/contain;
            transform: translateY(-50%);

                @include global.mq(sp) {
                    right: 25px;
                }
        }
    }
}

@media screen and (max-width: 520px) {
    .p-pop1__textArea__span {
        top: -19%;
        left: calc(50% - 150px);
    }

    .p-pop1__bg-right::before {
        background: url(../img/sp/bg-text-sp-right.png)no-repeat center center/contain;
        right: -1.5vw;
        top: 14%;
    }
    .p-pop1__bg-left::before {
        background: url(../img/sp/bg-text-sp-left.png)no-repeat center center/contain;
        left: -1.5vw;
        top: 14%;
    }
}

@media screen and (max-width: 1440px) {
    .p-pop1 {
        &__bg-left {
            &::before {
                left: -7.08333vw;
            }

            &::after {
                left: -14.375vw;
            }
        }

        &__bg-right {
            &::before {
                right: -7.08333vw;
            }
            &::after {
                right: -14.375vw;
            }
        }
    }
} 