@use '../global' as global;

.p-use {


    &__title {
    }

    &__sub-title {
    }

    &__list {
        display: flex;
        justify-content: space-between;

            @include global.mq(sp) {
                flex-direction: column;
            }
    }

    &__item {
        width: 100%;

            @include global.mq(sp) {
                display: flex;
                gap: 15px;
                
            }

        & + & {
            margin-left: 36px;

                @include global.mq(sp) {
                    margin-left: 0;
                    margin-top: 16px;
                }
        }

        &__img {
            max-width: 268px;
            max-height: 268px;
            width: 100%;
            object-fit: cover;

                @include global.mq(sp) {
                    width: calc(50% - 15px);
                }
        }

        &__textArea {
            margin-top: 26px;

                @include global.mq(sp) {
                    margin-top: 0;
                    width: 50%;
                }
        }

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 28.96px;
            text-align: center;
            position: relative;

                @include global.mq(sp) {
                    text-align: left;
                    font-size: 18px;
                    line-height: 1.6;
                }
        }

        &__title-span {
            font-family: global.$ff-en;
            font-weight: 700;
            font-size: 24px;
            line-height: 30.77px;
            color: global.$accent-color;
            position: absolute;
            top: 0;
            left: 0;

                @include global.mq(sp) {
                    position: static;
                    display: block;
                }
        }

        &__text {
            margin-top: 14px;
            font-weight: 400;
            line-height: 23.17px;
            text-align: justify;

                @include global.mq(sp) {
                    font-size: 14px;
                    line-height: 1.6;
                }
        }
    }

}