@use '../global' as global;

.l-about {

    &__bg1 {
        margin-top: calc(90px + 185px);
    }

    &__transform {
        transform: translateY(-185px);
    }

    &__body {
        margin-top: 58px;
    }

    &__text-box {
        margin-left: -68px;
    }

    &__imgArea {
        transform: translateX(-80px);

        & > img:first-of-type {
            transform: translateY( 96px);
        }
    }
}