@use '../global' as global;

// ---
// 表示
// ---
.u-active-pc {
	// PC時に表示
    display: none;
}

@media screen and (min-width: 769px) {
	.u-active-pc {
		display: block;
	}
}


.u-active-tab {
	//タブレット以下表示
    display: none;

	@include global.mq("tab") {
        display: block;
	}
}

.u-active-sp {
	// スマホ時に表示
    display: none;
}

@media screen and (max-width: 768px) {
	.u-active-sp {
		display: block;
	}
}

.u-active-520 {
	display: none;
}

@media screen and (max-width: 520px) {
	.u-active-520 {
		display: block;
	}
}